web/views/index.html
<html>
<head>
<title>Soccer Bet Game</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" href="css/ss.css">
  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/moment-with-locales.min.js"></script>
  <script src="js/bootstrap-datetimepicker.js"></script>
  <script src="js/react-with-addons-0.13.3.js"></script>
  <script src="js/app.js"></script>
  <script src="js/fb.js"></script>
  <script src="js/authentication.js"></script>
  <script src="js/JSXTransformer-0.13.3.js"></script>
  <script type="text/jsx" src="public/loginform.js"></script>
  <script type="text/jsx" src="public/navbar.js"></script>
  <script type="text/jsx" src="public/page.js"></script>
</head>
<body>
  <div id="page">
  </div>
  <div id="fb-root"></div>
  <div class="modal" id="popup-dialog" tabindex="-1" role="dialog" aria-labelledby="popup-dialog-title">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="popup-dialog-title"></h4>
        </div>
        <div class="modal-body" id="popup-dialog-content">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="popup-dialog-btn1">Close</button>
          <button type="button" class="btn btn-default hidden" id="popup-dialog-btn2"></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

web/views/index.jade
doctype html
html
  head
    title HC Soccer Betting Game
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='css/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='css/soccerbet.css')
    script(src='js/jquery-1.11.1.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/moment-with-locales.min.js')
    script(src='js/bootstrap-datetimepicker.js')
    script(src='js/react-with-addons-0.13.3.min.js')
    script(src='js/app.js')
    script(src='js/fb.js')
    script(src='js/authentication.js')
    if js == "jsx"
      script(src='js/JSXTransformer-0.13.3.js')
    script(type='text/#{js}', src='public/loginform.js')
    script(type='text/#{js}', src='public/navbar.js')
    script(type='text/#{js}', src='public/page.js')
  body
    #page
    #fb-root
    #popup-dialog.modal(tabindex='-1', role='dialog', aria-labelledby='popup-dialog-title')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#popup-dialog-title.modal-title
          #popup-dialog-content.modal-body
          .modal-footer
            button#popup-dialog-btn1.btn.btn-primary(type='button') Close
            button#popup-dialog-btn2.btn.btn-default.hidden(type='button')
